html, body, #container{
	height:100%;
}
html{
	background:#9e9e9e;
	font:12px tahoma, sans-serif;
	color:#808080;
}
body{
	margin:0;
}
#container{
	width:1155px;
	margin:auto;
}
#main{
	overflow:hidden;
	min-height:100%;
	margin:0 0 -61px;
	background:#fff;
}
#header{
	position:relative;
	height:128px;
}
#logo{
	float:left;
	margin-top:37px;
	margin-left:21px;
}
#diagnost{
	float:left;
	margin:0;
	color:#000;
	font:1em tahoma, sans-serif;
	padding-top:34px;
	padding-left:10px;
	line-height:0.3em;
}
#carbugs{
	color:#ed1568;
	font:3.5em tahoma, sans-serif;
	text-transform:uppercase;
}
#diagnost span+span{
	font:3.5em tahoma, sans-serif;
	text-transform:lowercase;
}
#sluzba{
	float:right;
	margin:0;
	color:#000;
	font:1em tahoma, sans-serif;
	padding-top:34px;
	padding-right:30px;
	text-align:right;
/*	line-height:0.3em;*/
}
#sluzba span{
	font:1.5em tahoma, sans-serif;
}